*{
    box-sizing: border-box;
}
 nav{
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

 }

.logo{
    width: 200px;
}
.contactbutton{
    display: inline-block;
    padding: 10px 10px;
    background-color: #85d2ff;
    border: none;
    color:black;
    border-radius: 15%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
}
.banner{
    background-color: #85d2ff;
    color: black;
    width: 100%;
    height: 300px;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
}
body p{
    padding: 20px 150px;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ol.myOL {
    display: inline-block;
    text-align: left;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
}
.founderquote{
    margin: auto;
    width: 50%;
    padding: 15px 10px;
    background-color: #1c1f6d;
    border: none;
    color: white;
    border-radius: 10%;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}
ol.OL2{
    display: inline-block;
    font-size: 25px;
    text-align: left;
    
}
ul.UL2{
    display: inline-block;
    font-size: 20px;
    text-align: left;
}
.teamheading{
    margin: auto;
    width: 80%;
    height: 80px;
    padding: 0px 10px;
    background-color: #1c1f6d;
    border: none;
    color: white;
    border-radius: 2%;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}